/* NAVBAR STYLING STARTS */
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    position: fixed;
    z-index:999;
    background-color: transparent;
    color:#3f2952;
   }
   .active{
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
   .nav-links a {
       color:#3f2952;
   }
    
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    /* background-color: #4c9e9e; */
     
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    /* background-color: rgb(1, 139, 139); */
    background-color:#3f2952;
    color:white;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
    z-index: 999;
   }
    
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .counselling li{
        width: 12.5em;
   }
   .dropdown li:hover {
     
    background-color: #f89a00;
   }
   .services:hover .dropdown {
    display: block;
   }
    
.login_signup>button{
    border: 2px solid #3f2952;
    color: #3f2952;
    border-radius: 1.5rem;
    padding: 0.5rem;
    width: 6rem;
    font-size: 16px;
    background-color: transparent;
}
.login_signup>button:hover{
    border: 2px solid #3f2952;
    color:white ;
    border-radius: 1.5rem;
    padding: 0.5rem;
    width: 6rem;
    font-size: 16px;
    background-color: #3f2952;
    cursor: pointer;
}
.login_signup{
    text-align: center;
    flex:0.25;
}


   /*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 1000px) {
    .navbar{
        justify-content: space-between;
    }
   .menu { 
    display:none;
    position: absolute;
    top: 4rem;
    /* background-color:teal; */
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, #ffefb2 100%);
    right: 0;
    left: 0;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   }