.section-five{
  height: 720px;
  background-image: url("https://d1edzrgaei4psf.cloudfront.net/newHome/5.svg");
}
.testimonials{
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.testimonials>h1{
  font-family: "Poppins",sans-serif;
}
 
.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}
 
.carousel .slide {
  /* background: #fff !important; */
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  margin-top: -6%;
  width:70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 350px;
}
.myCarousel>p{
  text-align:left;
  font-family:"Poppins",sans-serif !important;
  
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}
 
@media only screen and (max-width:768px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    /* background: #fafafa; */
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    /* border: 1px solid #ddd; */
     
  }
  .myCarousel>h3{
    margin-top: 1.2rem;
  }
  .myCarousel>p{
    margin-top: 0.5rem;
    
  }
  /* .t-img{
    width: 150px !important;
    height: 150px !important;
  }  */

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}
.t-img{
  width: 100px !important;
  height: 130px !important;
}
.referFriends{
  text-align: center;
}
.refer{
  color: #49377E;
    font-size: 16px;
    font-weight: 700;
    border: 3px solid #49377E;
    border-radius: 7px;
    padding: 13px 28px;
    cursor: pointer;
    /* margin-right: 16px; */
}
.refer:hover{
  background-color: #49377E;
  color: white;
  text-align: center;
}

/* Responsive */
@media (max-width:786px) {
  .carousel .control-dots{
     display: none;
   }
   .t-img{
    width: 100px !important;
    height: 90px !important;
  }
}