.sectionOne{
    background-color: white ;

}
.sec_1{
    margin-top: 1rem;
    background:url("https://d2dnk653l9i5f9.cloudfront.net/newHome/b2b-assets/b2bhomepage-desktopbackground.png") ;
    display: flex;
    justify-content: space-around;
      
}
 
.sec_1_text>span>p{
    font-size:43px;
    font-weight: lighter;
}
.sec_1_text>h1{
  margin-bottom: 1.5rem;
  font-size:2.5rem;
  font-size:43px;
   
  font-family: 'Poppins', sans-serif;
}
.sec_1_text>p{
    font-size: 23px;
    color: gray;
    font-family: "Poppins", sans-serif;
}
.sec_1_text>span{
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
  }
.sec_1_logos{
    margin-top: 3rem;
    text-align: center;
   display: flex;
  justify-content: space-evenly;
}
.logo_1{
     background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    height: 150px;
    margin-inline: .78rem;
 
}
.logo_1>img{
    height: 90px;
    width: 90px;
}
 
.sec_1_btn>button{
    margin-top: 2rem;
    padding: 0.67rem;
    font-size:16px;
    width: 35%;
    background-color: #fc8554;
    visibility: hidden;
}
.sec_1_btn>button:hover{
    background-color: #fc8554;
}
.bc{
  position: relative;
  top: 10rem;
}

/* Responsive */
@media (max-width: 768px){
     .sec_1{
        flex-direction:column;
        padding: 1rem; 
    }
    .logo_1>img{
        height: 150px;
    width: 150px;
    }
    .logo_1{
        width: 200px;
        height: 200px;
        margin: 10px;
    }
    .sec_1_logos{
        flex-direction: column;
        align-items: center;
    }
     
    
}