.grid-boxes{
  padding-top: 6rem;
   
}
.grid {
    margin-top: 2rem;
    margin-bottom: 6rem  ;
    margin-left: 8rem;
    margin-right: 8rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  
  .grid > .box-1 {
    border-bottom: 1px solid #f89a00;
    border-left: 1px solid #f89a00;
    border-right: 1px solid #f89a00;
    border-top: 4px solid #f89a00;
    padding: 8px;
    margin:auto; 
    box-sizing: border-box;
  }
 .admission-and-counselling>h1{
 
   font-size: 1.78em;
   font-weight: 600;
   font-family: "Poppins",sans-serif;
   margin-left: 8.5rem;
}
.collegeLogo{
    display: flex;
    align-items: center;
    
}
.college-name-text{
    font-size:1.1rem;
    margin-left: 1rem;
    text-align:start;
    color: black;
    font-family: "Poppins",sans-serif;
}
.clogo{
    height: 50px;
    width: 50px;
}
.counselling-links{
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
}
.clickicon{
    margin-bottom: 0.8rem;
    color: #f89a00;
}
.counselling-links>a{
    margin-left: 1rem;
    color:rgb(68, 68, 255);
    text-decoration: underline;
    text-transform: uppercase;
}
  

@media  (max-width:768px) {
    .admission-and-counselling>h1{
       margin-left: 1rem;
     }
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
       margin-left: 0;
       margin-right: 0;
    }
    .box-1{
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
    
}  